body {
    background-color: #090A12;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 15px 15px;
}